CSE-598-Distributed-Computing/Project_3/Assignment_4_5/Assignment_4_5/Connected Services/RecreationAreaServiceRef/RecreationAreaService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64573/RecreationAreaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RecreationAreaService" />
  <xs:element name="GetRecreationAreas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="states" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecreationAreasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRecreationAreasResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RecreationAreaService" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RecreationAreaService" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>